# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=starmap

# JWT
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRE_MINUTES=10080

# 邮箱 SMTP（QQ邮箱示例）
SMTP_HOST=smtp.qq.com
SMTP_PORT=465
SMTP_USER=3149777092@qq.com
SMTP_PASS=fdgutxjcdjrxdfig

# 高德
AMAP_KEY=8be337053e092994b64fdbe81879acba

# CORS 允许的前端地址
FRONTEND_ORIGIN=http://localhost:5500
